<!--
  Generated template for the ConnexionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content  class="background" >
  <ion-card >
      <ion-card>
          <ion-card-content  style="text-align : center"  >
            
              <ion-img width="140" height="140" src="assets/imgs/logo2606_1024_Amen.png"  style="background-color: transparent"></ion-img>
             
          </ion-card-content>
      </ion-card>

      <ion-card-content>
        <form [formGroup]="formGroup">
        <ion-list > 
          <ion-item >              
              <ion-input type="email" placeholder="E-mail" [(ngModel)]="maill" [formControl]="mail"  ></ion-input>
          </ion-item>
          <ion-label *ngIf="mail.hasError('required') && mail.touched">
                <p style="color :rgb(255, 255, 255)"> *Enter votre mail</p>
              </ion-label>
          <ion-item style="margin-top : 5%" >
              <ion-input placeholder="Mot de passe" style="margin-left: 30px;" [type]="passWordType" [(ngModel)]="passwordd" [formControl]="password"></ion-input>
            <button ion-button clear item-end style="background-color: white; width: 22px;" (click)="voirPassWord()"> <ion-icon [name]="passIcon"  ></ion-icon> </button>
          </ion-item>
          <ion-label *ngIf="password.hasError('required') && password.touched">
                <p style="color :rgb(255, 255, 255)"> *Enter votre Mot de passe</p>
              </ion-label>
        </ion-list>
        </form>
        <div style="float: right;margin-top :2%; color : wwhite"><a href="#" (click)="passwordForget()">Mot de passe oublié ?</a></div>        
      </ion-card-content>

      <div class="div">
      <button  class="button-size"  ion-button block  (click)="OuvHome()" [disabled]="formGroup.invalid">Connexion</button>
    </div>
  </ion-card>
  <div style="text-align: center; margin-top: 38%">
      <ion-label style="color :white;">Vous êtes nouveau ? &nbsp;&nbsp;&nbsp;<span  (click)="ouvInscription()" style="color : #D81B60; text-decoration: underline" >Créez un compte.</span></ion-label>
   </div>
</ion-content>
